SECRET_KEY=django-insecure-change-this-to-a-random-secret-key-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=crm_db
DB_USER=crm_user
DB_PASSWORD=crm_password
DB_HOST=db
DB_PORT=5432

ZIBAL_MERCHANT=zibal
ZIBAL_CALLBACK_URL=http://localhost:8000/invoices/payment/callback/
